* {
  background: linear-gradient(#cdd2c8, #aaadb4, #d7dac6);
}

h2 {
  display: grid;
  text-align: center;
  align-content: center;
  margin-top: 20vh;
  text-align: center;
  font-size: 100px;
  font-family: sans-serif;
  color: rgb(80, 80, 200);
  text-wrap: wrap;
}
